{% extends "site.html" %}

{% block title %}Payment{% endblock %}

{% block cover_image %}
    <div class = "cover">
        <img src="/static/images/family_cycle.jpg" alt="family_cycling" style="height:auto; width:100%; margin-top:2%;">
    </div>
{% endblock %}

<!-- Bootstrap example breadcrumb -->
{% block breadcrumb %}
<nav class="row" aria-label="breadcrumb">
    <ol class="breadcrumb  col-sm-12">
      <li class="breadcrumb-item"><a href="{{url_for('bicycles.booking', payment_id = payment_id, form_id=form_id)}}">Reserve Booking</a></li>
      {% if not current_user.is_authenticated %}
        <li class="breadcrumb-item"><a href="{{url_for('bicycles.auth',  payment_id = payment_id, form_id=form_id)}}">Authentication</a></li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">Payment</li>
    </ol>
  </nav>
{% endblock %}

{% block body %}

<h3>Booking Summary</h3>
<p>Email: {{email}}</p>
<p>Hire Start: {{start}}</p>
<p>Hire End:  {{end}}</p>
<p>No of Bicycles: {{bikes}}</p>
<p>Initial Cost: £{{initial_cost}}</p>
<p>Discount: {{discount}}</p>

<span>Total: <strong>£{{amount}}0</strong></span>
<form action="{{url_for('payments.pay', payment_id = payment_id, form_id=form_id)}}" method="POST">

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="Booking Payment"
          data-amount="{{stripe_amount}}"
          data-locale="auto"
          data-currency="gbp">
  </script>

</form>

{% endblock %}
