{% block body %}
  <center>
    <h1>Bicycle Hire</h1>
  </center>

  <h2>Booking details:</h2>
  <p>Location: {{location}}</p>
  <p>Start time: {{start}}, End time: {{end}}</p>
  <br>
  <h2>Payment Details:</h2>
  <style>
    table {
      table-layout: fixed;
      border-collapse: collapse;
    }
    table, th {
      border: 1px solid black;
    }
  </style>

  <center>
    <table>
      <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Cost</th>
      </tr>
      <tr>
        <td>Bicycle Hire for {{location}}</td>
        <td>{{no_of_bikes}}</td>
        <td>£{{initial_cost}}.00</td>
      </tr>
      <tr>
        <td>Discount</td>
        <td></td>
        <td>{{discount}}</td>
      </tr>
    </table>
  </center>

  <center>
    <p>Total: £{{total}}0</p>
  </center>
  <br>

  <h2>Contact Information:</h2>

  <p>E-mail information: bicycleHire@outlook.com</p>
  <p>Phone Number: 01942123456</p>

  <center>
    <img src="{{ qrcode(hashed) }}">
  </center>
{% endblock %}
