{% block body %}
  <center>
    <h1>Bicycle Hire</h1>
  </center>

  <h2>Booking details:</h2>
  <p>Location: {{location}}</p>
  <p>Start time: {{start}}, End time: {{end}}</p>
  <br>
  <h2>Payment Details:</h2>
  <style>
    table {
      table-layout: fixed;
      border-collapse: collapse;
    }
    table, th {
      border: 1px solid black;
    }
  </style>

  <center>
    <table>
      <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Cost</th>
      </tr>
      <tr>
        <td>Bicycle Hire for {{location}}</td>
        <td>{{no_of_bikes}}</td>
        <td>£420.00</td>
      </tr>
      <tr>
        <td>Discount</td>
        <td></td>
        <td>-£360.00</td>
      </tr>
    </table>
  </center>

  <center>
    <p>Total: A number</p>
  </center>
  <br>
  <h2>Contact Information:</h2>
  <img src="{{ qrcode(hashed) }}">
{% endblock %}
