{% extends "base.html" %}

{% block title %}Bicycle Hire{% endblock %}

{% block header %}
<!-- Bootstrap Example Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="font-size:16pt">
    <a class="navbar-brand" href="{{url_for('bicycles.index')}}" style="font-size:20pt">Bicycle Hire<sup>©</sup></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('bicycles.index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('bicycles.booking')}}">Booking</a>
            </li>
            {% if current_user.is_authenticated and current_user.is_staff() %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('stats.weekly_income')}}">Weekly Income</a>
                        <a class="dropdown-item" href="{{url_for('stats.bicycles_booked')}}">Bicycles Booked</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav mr-right">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user.signout')}}">Sign out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user.signin')}}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user.signup')}}">Sign up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block flash %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, msg in messages %}
            <div class="alert alert-{{category}}">{{msg}}</div>
        {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block cover_image %} {% endblock %}

{% block footer %}
    <!-- Footer -->
    <div class = "card-footer" style="margin-top:4%; margin-bottom: 0%; position: static"> 
        <div class = "container">
            <div class = "row">
                <div class = "col-sm">
                    <h4>If you have any enquiries, please do not hesitate to contact us</h4>
                    <ul class="email" style="list-style-image: url('/static/images/email.png')">
                        <li><a href = "mailto:bicycleHire@outlook.com">bicycleHire@outlook.com</a></li>
                    </ul>
                    <ul class="phone" style="list-style-image: url('/static/images/phone.png')">
                        <li><a href = "callto:01942123456">01942123456</a> (from 9am to 5pm)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 elegant-color-dark">
        Copyright © 2018 <a href="{{url_for('bicycles.index')}}">Bicycle Hire</a>
        <br>
        Powered by Group 14
    </div>
{% endblock %}